<!DOCTYPE html>
<html>

<head>
    <title>This is the title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% include 'snippets/header.html' %}
    {% include 'snippets/base_css.html' %}

</head>

<body>
    
    <style type="text/css">
        .main{
            min-height:100vh;
            height: 100%;
        }
    </style>

   <!--  <nav>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'quizzes:quiz_list' %}">Quizzes</a>
            </li>
        </ul>
    </nav> -->

    <div class="main">
        {% block content %}
        {% endblock content %}
    </div>

    {% include 'snippets/footer.html' %}
</body>

</html>


